#user {
    width: 100%;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: end;
}

#user #question {
    max-width: 70%;

    color: #ececec;
    overflow-wrap: break-word;
    padding: .625rem 1.25rem;
    
    background-color: rgba(50, 50, 50, 0.85);
    border: none;
    border-radius: 1.5rem;
}